@font-face {
    src: url("../media/fonts/VTKS\ DURA\ 3d.ttf");
    font-family: vtks;
}
@font-face {
    font-family: robot;
    src: url("../media/fonts/QuirkyRobot.ttf");
}
@font-face {
    font-family: glitch;
    src: url("../media/fonts/Beauty\ Glitch\ Demo.ttf");
}
@font-face {
    font-family: type;
    src: url("../media/fonts/mytype.ttf");
}
#{
    margin: 0px;
    padding: 0px;
}

.title{
    text-align: center;
    font-size: 150%;
    color: white;
}
h1{
    display: inline-block;
  padding: 10px 10px 10px 10px;
   margin-bottom: 0px;
    color: red;
    border: 6px double red;
    font-size: 300%;
    font-family: glitch;

}
img{
    width: 400px;
    border: 6px double white;
    margin-right: 25%;
    position: absolute;
    
}
p{
    color: red;
    font-size: 300%;
    display: inline;
    font-family: vtks;
}
.info{
    display: inline-block;
    border: 2px solid white;
    margin-left: 0%;
    padding: 20px 50px 20px 700px;
    font-family: robot;
    font-size: 30px;
   
    
}
.members{
    display: inline-block;
    color: white;
    border: 6px double white;
    font-size: 200%;
    padding-right: 5%;
    
    padding: 20px 20px 20px 40px;
  
    position: absolute;
    left: 100px;
    font-family: robot;
}
iframe{
   position: absolute;
   right: 100px;
   top: 1600px;
   border: 8px solid white;
   
}

.description{
    display: inline-block;
    color: white;
    border: 10px double red;
    font-size: 30px;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    font-family: robot;
}
body{
    border: 6px dashed red;
}
h3{
    font-family: vtks;
}